<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622621114175-55duhgfvag7487a3aarfv0f87khj85uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622621114175-55duhgfvag7487a3aarfv0f87khj85uu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>622621114175-pvjr7fh584498gk65p59qrtefj098a6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYRhu-ppNU4bIo0kavio7bETFwI6KtplU</string>
	<key>GCM_SENDER_ID</key>
	<string>622621114175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappcloneflutter</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-13467</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-13467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622621114175:ios:0e01d9a710d41f95841d8a</string>
</dict>
</plist>